<!doctype html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="{% static 'bootstrap-5.1.0-dist/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <title>{% block title %}Регистрация{% endblock %}</title>
</head>
<body>

{% include 'inc/_nav.html' %}

<div class="container mt-3">
  <div class="row">
    <div class="col-md-12">
        <h1>Регистрация</h1>

        {% if messages %}
            {% for message in messages %}
                {% if message.tags == error %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
                {% else %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <form method="post">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="btn btn-primary btn-block mt-1">Завершить</button>
        </form>
    </div>
  </div>
</div>

<script src="{% static 'bootstrap-5.1.0-dist/js/bootstrap.min.js' %}"</script>
</body>
</html>